<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>WebSocket Chat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Le styles -->
		<link href="/assets/css/bootstrap.min.css?ver=1.0" rel="stylesheet">
		<style type="text/css">
			body {
				padding-top: 10px;
				padding-bottom: 40px;
			}
		</style>
		<link href="/assets/css/bootstrap-responsive.min.css?ver=1.0" rel="stylesheet">
		<link href="/assets/css/style.css?ver=1.0" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="row">

				<div class="span4">
					<div class="widget">
						<div class="widget-header">
							<div class="input-prepend" style="margin-top: 2px; margin-bottom: 2px">
								<span class="add-on">名前</span>
								<input id="name" type="text" value="name" style="width:300px;">
							</div>
						</div><!--/.widget-header -->

						<script id="self-tpl" type="text/template">
							<div class="row" style="margin-left:8px;">
								<div style="float: right;">
									<br><img src="/assets/img/glyphicons_004_girl.png"><br><%= user %>
								</div>
								<div style="float: left; width:80%;" class="preview">
									<div class="arrow_right">
										<p><%= body %></p>
										<p style="text-align: right;"><%= time %>&nbsp;</p>
									</div>
								</div>
							</div>
							<br><br>
						</script>

						<script id="other-tpl" type="text/template">
							<div class="row" style="margin-left:8px;">
								<div style="float: left;">
									<br><img src="/assets/img/glyphicons_003_user.png"><br><%= user %>
								</div>
								<div style="float: right; width:80%;" class="preview">
									<div class="arrow_left">
										<p><%= body %></p>
										<p style="text-align: right;"><%= time %>&nbsp;</p>
									</div>
								</div>
							</div>
							<br><br>
						</script>

						<script id="alert-tpl" type="text/template">
							<div class="alert alert-<%= type %>">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<strong><%= title %></strong> <%= body %>
							</div>
							<br><br>
						</script>

						<div id="list" class="widget-body"></div>

						<div class="widget-footer input-append">
							<input id="body" type="text" placeholder="メッセージ" style="width:286px;">
							<button class="btn" type="button">送信</button>
						</div>

					</div><!--/.widget -->
				</div><!--/.span4 -->
			</div><!--/.row -->
		</div><!--/.container -->

<script src="/assets/js/lib/jquery-1.8.3.min.js"></script>
<script src="/assets/js/lib/lodash.underscore.min.js"></script>
<script>
(function() {
	/** 
	 * ウェブソケット
	 * @type WebSocket
	 */
	var ws = new WebSocket('ws://chat.sheeps.me:8888/chat');

	/** 
	 * メッセージテンプレート(自身)
	 * @type template
	 */
	var tself  = _.template($('#self-tpl').html());

	/** 
	 * メッセージテンプレート(相手)
	 * @type template
	 */
	var tother = _.template($('#other-tpl').html());

	/** 
	 * メッセージテンプレート(警告)
	 * @type template
	 */
	var talert = _.template($('#alert-tpl').html());


	/**
	 * 接続イベント
	 *
	 * @return void
	 */
	ws.onopen = function() {
		$('#body').focus();

		ws.send(JSON.stringify({
		    type: 'in',
		    user: $('#name').val()
		}));
	};

	/**
	 * 受信イベント
	 *
	 * @return void
	 */
	ws.onmessage = function(event) {
		var data = JSON.parse(event.data);

		var msg = {
			user : '', 
			body : '', 
			time : getTime()
		};

		if (data.type === 'msg') {
			msg.user = data.user;
			msg.body = data.body;
		} else if (data.type === 'in') {
			msg.user = data.user;
			msg.body = data.user + 'が入室しました';
		} else if (data.type === 'out') {
			msg.user = data.user;
			msg.body = data.user + 'が退室しました';
		} else {
			msg.user = 'unknown';
			msg.body = 'アンノウン';
		}
		$('#list').append(tother(msg, this)).hide().fadeIn(500);
		$("#list").scrollTop($("#list")[0].scrollHeight);
	};

	/**
	 * エラーイベント
	 *
	 * @return void
	 */
	ws.onerror = function(error) {
		$('#list').empty()

		var msg = {
			type : 'error', 
			title : 'エラー', 
			body : 'サーバに接続できませんでした。'
		};

		$('#list').append(talert(msg, this)).hide().fadeIn(500);
		$("#list").scrollTop($("#list")[0].scrollHeight);
	};

	/**
	 * 時間の取得
	 *
	 * @return void
	 */
	var getTime = function () {
		var now = new Date();

		var hour = now.getHours(),
		    min  = now.getMinutes(),
		    sec  = now.getSeconds();

		return hour + ':' + min + ':' + sec;
	};

	/**
	 * キーダウンイベント
	 *
	 * @return void
	 */
	$('#body').keydown(function(event) {
		if (event.keyCode === 13) {
			var body = $('#body').val(),
			    name = $('#name').val();
			if (body.length > 0) {
				var msg = {
					user : name, 
					type : 'msg', 
					body : body, 
					time : getTime()
				};
				$('#list').append(tself(msg, this));

				ws.send(JSON.stringify(msg));

				$('#body').val('');
				$("#list").scrollTop($("#list")[0].scrollHeight);
			}
		}
	});
})();
</script>
	</body>
</html>